<table class="table table-hover">
  <thead>
    <th>Date</th>
    <th>Reason</th>
  </thead>
  <% @holidays.each do |h| %>
    <tr>
      <td><%= h.date %></td>
      <td><%= h.reason %></td>
    </tr>
   <% end %>
</table>

