<table border='1'>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Mobile Number</th>
    <th>Actions</th>
  </tr>
  <% @users.each do |u|%>
    <tr>
      <td><%= u.name   %></td>
      <td><%= u.email  %></td>
      <td><%= u.mobile %></td>
      <td><%= @roles.find(@user_roles.find_by(user_id: u.id).role_id).ro
le%></td>
      <td><%= link_to 'Edit', edit_user_url(u) %></td>
    </tr>
  <% end %>
</table>