<table class="table table-hover">
  <tr>
    <th>Date</th>
    <th>Reason</th>
  </tr>
  <% @holidays.each do |h| %>
      <tr>
          <td><%= h.date %></td>
          <td><%= h.reason %></td>
          <td><%= link_to "Delete",admin_holiday_path(h), method: :delete %></li>
      </tr>
   <% end %>
</table>

<div class="left-nav">
    <ul>
      <li><%= link_to "Add",new_admin_holiday_path %></li>
    </ul>
</div>




