<table border = 1>
  <th>
    <td>Date</td>
    <td>Reason</td>
  </th>
  <% @holidays.each_with_index do |h,index| %>
    <%if h.date.year == 2020 %>

      <tr>
          <td><%= index+1 %></td>
          <td><%= h.date %></td>
         <td><%= h.reason %></td>
      </tr>
    <% end %>
  <% end %>
</table>
