<h3> Personal Information </h3>
<div id = 'user_show-form' class = "alert alert-success" style="display:none;">
</div>

<table class="table table-hover">
  <tr>
    <td>Name</td>
    <td><%= @user.name %></td>
  </tr>
  <tr>
   <td>Email</td>
   <td><%= @user.email %></td>
  </tr>
  <tr>
    <td>Mobile Number</td>
    <td><%= @user.mobile %></td>
  </tr>
  <tr>
    <td>Designation</td>
    <td><%= @designation %></td>
  </tr>
</table>
<br>
<% if @manager_ids.include?(@user.id)%>
      <h3> Assigned Employees Information </h3>
      <table class="table table-hover">
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Mobile Number</th>
        </tr>
        <% @assign_ids.each do |u|%>
        <tr>
          <td><%= @users.find(u).name   %></td>
          <td><%= @users.find(u).email  %></td>
          <td><%= @users.find(u).mobile %></td>
        </tr>
        <% end %>
      </table>
<% else %>
      <% if @employee_ids.include?(@user.id) %>
        <h3> Manager Information </h3>
        <table class="table table-hover">
          <tr>
            <td>Name</td>
            <td><%= @manager_info.name %></td>
          </tr>
          <tr>
             <td>Email</td>
             <td><%= @manager_info.email %></td>
          </tr>
          <tr>
            <td>Mobile Number</td>
            <td><%= @manager_info.mobile %></td>
          </tr>
        </table>
      <% else %>
          <h3> Manager's Name Not Assigned Yet </h3>
      <% end %>
<% end %>

<%= link_to 'Edit',edit_user_path(@user.id) %>


