<table border='1'>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Email</th>
    <th>Mobile Number</th>
    <th>Designation</th>
    <th>Actions</th>
  </tr>
  <% @users.each do |u|%>
    <tr>
      <td><%= u.id   %></td>
      <td><%= u.name   %></td>
      <td><%= u.email  %></td>
      <td><%= u.mobile %></td>
      <% if  @user_roles.find_by(user_id: u.id) %>
        <td><%= @roles.find(@user_roles.find_by(user_id: u.id).role_id).role%></td>
      <% else %>
        <td> Not Assigned </td>
      <% end %>
      <td><%= link_to 'Edit', edit_admin_user_url(u) %></td>
    </tr>
  <% end %>
</table>
